CodeSchool Express Level 4

Create a simple express node app meeting the following requirements:
{ Continue using the app from level 3 }

1. Add the ability to add a new city to your list.
    a. City name
    b. Containing city
    c. Should confirm the city and state has values
    d. State should have at least two characters.
    e. City should have at least four characters
    f. Page should update to hide the city

2. Update page to make the cities links which return the state name

3. Add ability to remove a city
    a. City should be confirmed prior to removing it
    b. Response should contain the correct status code
    c. Page should update with new info
 
    
Additional challenge
--------------------
1. Add additional information to the site:
2. Add the additional data points longitude and latitude
3. Clickable link should display google maps centered to the longitude and latitude in new tab
4. Form should confirm that lat lon are numbers.
